[submodule "CHESS"]
	path = CHESS
	url = https://github.com/H0NEYP0T-466/ChessVision.git
	branch = master
[submodule "DEV_LENS"]
	path = DEV_LENS
	url = https://github.com/H0NEYP0T-466/DEV-LENS.git
	branch = master
[submodule "FRONTEND_PROJECT"]
	path = FRONTEND_PROJECT
	url = https://github.com/H0NEYP0T-466/Animotion.git
	branch = main
[submodule "Ideovent_Task"]
	path = Ideovent_Task
	url = https://github.com/H0NEYP0T-466/GhibiVerse.git
	branch = master
[submodule "NeuralMate"]
	path = NeuralMate
	url = https://github.com/H0NEYP0T-466/NeuralMate.git
[submodule "PASTE_APP"]
	path = PASTE_APP
	url = https://github.com/H0NEYP0T-466/PASTE_APP.git
[submodule "fullStackProject"]
	path = fullStackProject
	url = https://github.com/H0NEYP0T-466/fullStackProject.git
