*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#nav
{
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1.5vw 10vw;
    justify-content: space-between;
    height: 9vh;
}
.navpart2
{
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    position: relative;
    z-index: 10;
}
.navpart2 h4
{
    font-size: 1.5vw;
    font-weight: 500;
    padding-top: 1vw;
    padding-bottom: 0.7vw;
}
.navpart2 h5
{
    margin-top: 0.4vw;
    margin-bottom: 0.7vw;
    opacity: 0;
    transition: opacity 1s ease;
}
.navpart2 h5 span
{
    font-size: 1vw;
    display: inline-block;
    font-weight: 700;
    
}

#nav_bottom
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transition: all ease 0.65s;
    padding-top: 0.4vw;
    gap: 3vw;
    height:0vw;
    width: 80%;
    position: absolute;
    top: 100%;
    border-bottom: 1px solid #dadada;
    background-color: #111;
    z-index: 9;
}

.navpart2:hover h5 {
    transition: all 1.5s ease-in-out;
    opacity: 1;
}
